<h2>AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2>

<button type="submit" onclick="getCurrentTime()">Get the time</button>

@Html.Partial("_CurrentTimeQueriesView")

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
<script src="~/Scripts/xhttprequest.js"></script>
<script src="~/Scripts/models.js"></script>
<script src="~/Scripts/services/currentTimeQueriesService.js"></script>
<script src="~/Scripts/apps/currentTimeQueriesApp.js"></script>
