@{
    ViewBag.Title = "_CurrentTimeQueryView";
}

<div class="row">
    <span class="
          col-4
          col-md-2
          col-lg-1
          d-inline-block
          font-weight-bold
          text-right">
        Client IP:
    </span>
    <span class="
          col-8
          col-md-2
          col-lg-1
          d-inline-block">
        {{ query.clientIp }}
    </span>
    <span class="
          col-4
          col-md-2
          col-lg-1
          d-inline-block
          font-weight-bold
          text-right">
        Time:
    </span>
    <span class="
          col-8
          col-md-6
          col-lg-2
          d-inline-block">
        {{ query.time }}
    </span>
    <span class="
          col-4
          col-md-2
          col-lg-1
          d-inline-block
          font-weight-bold
          text-right">
        UTC Time:
    </span>
    <span class="
          col-8
          col-md-10
          col-lg-2
          d-inline-block">
        {{ query.utcTime }}
    </span>
</div>
<hr v-if="query.timezoneId"/>
<div v-if="query.timezoneId"
     class="row">
    <span class="
          col-4
          col-md-2
          col-lg-1
          d-inline-block
          font-weight-bold
          text-right">
        Timezone:
    </span>
    <span class="
          col-8
          col-md-2
          col-lg-1
          d-inline-block">
        {{ query.timezoneId }}
    </span>
    <span class="
          col-4
          col-md-2
          col-lg-1
          d-inline-block
          font-weight-bold
          text-right">
        Time:
    </span>
    <span class="
          col-8
          col-md-10
          col-lg-2
          d-inline-block">
        {{ query.convertedTime }}
    </span>
</div>
