
@{
    ViewBag.Title = "_CurrentTimeQueryView";
}

<div>
    <p><strong>Client IP:</strong>{{ query.clientIp }}</p>
    <p><strong>Time:</strong>{{ query.time }}</p>
    <p><strong>UTC Time:</strong>{{ query.utcTime }}</p>
</div>
