@{
    ViewBag.Title = "_CurrentTimeQueriesView";
}

<div id="current-time-queries">
    <ol reversed>
        <li v-for="query in queries.slice().reverse()">
            <p><strong>Client IP:</strong>{{ query.clientIp }}</p>
            <p><strong>Time:</strong>{{ query.time }}</p>
            <p><strong>UTC Time:</strong>{{ query.utcTime }}</p>
        </li>
    </ol>
</div>
