@{
    ViewBag.Title = "_CurrentTimeQueryView";
}

<div>
    <span class="font-weight-bold">Client IP:</span>
    <span>{{ query.clientIp }}</span>
</div>
<div>
    <span class="font-weight-bold">Time:</span>
    <span>{{ query.time }}</span>
</div>
<div>
    <span class="font-weight-bold">UTC Time:</span>
    <span>{{ query.utcTime }}</span>
</div>
