@{
    ViewBag.Title = "_CurrentTimeQueriesView";
}

<div id="current-time-queries">
    <ol class="list-group"
        reversed>
        <li v-for="query in queries.slice().reverse()"
            class="list-group-item">
            @Html.Partial("_CurrentTimeQueryView")
        </li>
    </ol>
</div>
