@{
    ViewBag.Title = "_HeaderView";
}

<div id="awh-header">
    <img id="awh-logo"
         src="https://www.awh.net/Content/Images/WhiteLogo.png"
         height="80"
         width="80"/>
    <h2 id="awh-header-content">
        <span>Clockwork Project @ViewData["Version"]</span>
        <small>on @ViewData["Runtime"]!</small>
    </h2>
</div>
